*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: url(#dle5ff);
}
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: linear-gradient(#642bff, #ff22e6);
}
.avatar-update-btn::file-selector-button {
    width: 100%;
    margin: 0 -60px;
    padding: 3px;
    font-weight: 600;
    border: 1px, solid, #111;
    background: #111;
    cursor: pointer;
    color: #111;
}

.avatar-update-btn::file-selector-button:hover {
  background: transparent;
  color: #111;
}